{% load static %}
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" charset="utf-8"></script>
    
  </head>
  <body>
    <nav class="d-grid gap-2 d-md-flex justify-content-md-end navbar navbar-light bg-light">

        <a type="button" class="me-md-2 btn btn-secondary" href="{% url "login" %}">Войти</a>
      </nav>
    <main class="content">
        <div class="main_m">
            
            <div class="side-bar">
                <div class="logo">
                    <p>СЕТЕВОЙ КОНСТРУКТОР</p>
                </div>
                <div class="menu1">
                    <div class="item1"><a href="#" class="sub-btn"><i class="fas fa-desktop"></i>МАРШРУТИЗАТОРЫ <i class="fas fa-angle-right dropdown"></i></a>
                        <div class="sub-menu">
                            {% for item in routers%}
                            <a  class="img_container sub-item js-elem">  
                       
                                 <img draggable="true" class="js-elem" src="{{ item.image.url }}" alt="{{ item.model }}" >
                                
                            
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="item1"><a href="#"><i class="fas fa-table"></i>КОММУТАТОРЫ</a></div>
                    <div class="item1"><a href="#"><i class="fas fa-th"></i>СОЕДИНЕНИЯ</a></div>
                    <div class="item1"><a href="#"><i class="fas fa-cogs"></i>КОНЕЧНЫЕ УСТРОЙСТВА</a></div>
                </div>
            </div>
          
                
       </div>
       <div class="root">
        <div id="field" class="field js-field"></div>
        <div class="buttom-menu"></div>
    </div>

    
    </main>
    <script src="https://cdn.polyfill.io/v1/polyfill.js?features=Element.prototype.closest"></script>
  
    <script>
        $(document).ready(function(){
            $('.sub-btn').click(function(){
                $(this).next('.sub-menu').slideToggle();
                $(this).find('.dropdown').toggleClass('rotate');

            });

        });

        $(document).on('click', function(e){
            if (event.target.classList.contains("js-elem")){
                let elem;
                let url;
               
                if (event.target.tagName=="IMG"){
                    url = event.target.getAttribute("src");
                    
                    
                }else 
                if(event.target.tagName=="A"){
                    url = event.target.children[0].getAttribute("src");
                }
                elem = document.createElement('img');
                elem_container = document.createElement('div');
                elem_container.classList.add('field_elem_c');
                elem.setAttribute('src', url);   
                elem.classList.add('field_elem');
                var Elem1 = $('#field')[0];
                Elem1.style.overflow= "hidden";
                elem_container.append(elem);
                Elem1.append(elem_container);
              }
            
            if(event.target.classList.contains("field_elem")){
                alert("Нажатие");

            }
        }
        );



      </script>
      
  </body>

</html>
