@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;&display=swap');

body{
    margin: 0 auto;
    padding: 0 auto;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
    block-size: cover;
    background-position: center;
    background-color: darkgrey;
  }
.side-bar{
    background-color: rgba(255,255,255, 0.1);
    backdrop-filter: blur(15px);
    width: 290px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}
.side-bar .menu1{
    width: 100%;
    margin-top: 80px;
}
.side-bar .menu1 .item1{
    position: relative;
    cursor: pointer;

}
.side-bar .menu1 .item1 a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 20px;
    line-height: 60px;
}
.side-bar .menu1 .item1 a:hover{
    background: #8621F8;
    transition: 0.3s ease;

}
.side-bar .menu1 .item1 i{
    margin-right: 15px;
}
.side-bar .menu1 .item1 a .dropdown{
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}
.side-bar .menu1 .item1 .sub-menu{
    background: rgb(255, 255, 255, 0.1);
    display: none;

}
.side-bar .menu1 .item1 .sub-menu a{
    padding-left: 80px;

}
.rotate{
    transform: rotate(90deg);
}
.page{
    margin: 0 auto;
    padding: 0 auto;
  }
.content{
    display: flex;
  }
.headers{
    display: inline;
    width: 100%;
    height: 50px;
    background-color: #e2e4e9;
   
}
.root{
    display: flex;
    flex-direction: column;
    width: 78%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 6%;
   
    
}
.field{
    height: 40em;
    width: 100%;
    margin-bottom: 3%;
    background-color: rgb(240, 242, 245);
    overflow: hidden;
    


}
.buttom-menu{
    height: 8em;
    width: 100%;
    background-color: rgb(240, 242, 245);

}

.btn_main_m{
    border:none;
    background-color: white;
    width: 2em;
    height: 2em;
 }
 .btn_main_m:hover{
    border-color: rgb(61, 61, 61);
    background-color:rgb(209, 202, 202);
    
 }

 .logo{
     
     padding: 1%;
     text-align: center;
     
 }
 .logo p{
     
     font-size: 1.5em;
     font-weight: 600;
     
 }
 
 
 .menu ul{
     margin:0;
     padding: 0;
 
 }
 .network_elem item{
    
     color:black;
     margin: 0.4em;
     font-size: 1.2em;
     padding: 1em;
     background: white;
     display: flex;
     flex-direction: column;
     
     
 }

.first{
    display: flex;
    justify-content: space-between;
 }


.items_list{
    
    max-width:100%;
    height:auto;
    background-color: white;
   

 }
.network_elem item p{
     display:inline-block;
     padding: 0;
     margin: 0;
 }
.main_m{
     width: 20%;
    
     
     
 }
.btn_main_m img{
    max-width:100%;
    height:auto;
 }

.img_container img{
    width: 10em;
    max-width:100%;
    height:auto;
}

.img_container {
   padding: 0.5em;
}
.draggable {
    cursor: pointer;
}
.hovered{
    background-color: #d1d8e2;
}
.example_class{
    background-color: green;
    width: 10px;
    height: 10px;
}
.example_class1{
    background-color: red;
    width: 10px;
    height: 10px;
}
.field_elem{
    width: 7em;
    height:auto;
    margin: 0;
}
.field_elem_c{
    display: inline-flex;
    padding: 0 auto;
   
}
.field_elem_c_touch{
    border: 2px solid #FF9191;
    box-shadow: 0 0 15px rgb(255, 147, 147);
    border-radius: 10px;
}